.chat__footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 64px;
    border-top: 1px solid lightgray;
}

  .chat__footer > form{
      display: flex;
      flex: 1;
  }

  .chat__footer > form > input{
      flex: 1;
      border-radius: 30px;
      padding: 10px;
      border: none;
  }
  
  .chat__footer > form > button{
      display: none;
  }

  .chat__footer > .MuiSvgIcon-root{
      padding: 10px;
      color: gray;
  }